// Load the parent theme's images.
$image-path: "./../../../bigbox/public/images";
$spacer: 1rem;
$grid-gutter-width: ( $spacer * 2.50 );

$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
) !default;

$container-max-widths: (
	xl: 1150px,
) !default;

// Load all of the parent theme.
@import "./../../../../bigbox/resources/assets/scss/app.scss";

@import "elements/body";
@import "elements/h";

@import "modules/card";
@import "modules/icon";
@import "modules/branding";
@import "modules/site-title";
@import "modules/product";
@import "modules/navbar";
@import "modules/navbar-search";
@import "modules/menu";
@import "modules/page-title";
@import "modules/page-flow";
@import "modules/wp-block-cover-image";
@import "modules/bubble";
@import "modules/woocommerce";
